body{
    font-family: 'Poppins', sans-serif;
    
}
.top-banner-bg
{
    background-image: url(image/header-bg.png);
    background-size: cover;
}
.hire{
    color: white;
    font-weight: 800;
    text-decoration: none;
    background-color: #f75b84;
    border-radius: 3px;
    padding: 5px 20px;
}
/* top banner  */
section{
    height: 600px;
    padding: 7% 13%;
    margin-bottom: 20px;
}
h1{
    font-size: 50px;
    font-weight: 800;
    line-height: 40px;
}
h2{
    font-size: 35px;
    line-height: 10px;
}
.name{
    color: #f75b84;
}
.introduction{
    margin-top: 10%;
    width: 50%;
    display: inline-block;
}
.photo{
    width: 50%;
    float: right;
}
.photo img{
    width: 90%;
    
}

/* top banner ends */

/* biography start  */
.bio-pic{
    width: 50%;
    display: inline-block;

}
.bio-pic img{
    width: 90%;
}
.bio-info{
   padding-top: 150px;
    width: 50%;
    float: right;
}
.biography-bg{
    background-image: url(image/biography-bg.png);
    background-size: cover;
}
/* biography start ends */
