body{
    font-family: 'Poppins', sans-serif;
    
}
.top-banner-bg
{
    background-image: url(image/header-bg.png);
    background-size: cover;
}
.hire{
    color: white;
    font-weight: 800;
    text-decoration: none;
    background-color: #f75b84;
    border-radius: 3px;
    padding: 5px 20px;
}
/* top banner  */
section{
    height: 600px;
    padding: 7% 13%;
    margin-bottom: 20px;
}
h1{
    font-size: 50px;
    font-weight: 800;
    line-height: 40px;
}
h2{
    font-size: 35px;
    line-height: 10px;
}
.name{
    color: #f75b84;
}
.introduction{
    margin-top: 10%;
    width: 50%;
    display: inline-block;
}
.photo{
    width: 50%;
    float: right;
}
.photo img{
    width: 90%;
    
}

/* top banner ends */

/* biography start  */
.bio-pic{
    width: 50%;
    display: inline-block;

}
.bio-pic img{
    width: 90%;
}
.bio-info{
   padding-top: 150px;
    width: 50%;
    float: right;
}
.biography-bg{
    background-image: url(image/biography-bg.png);
    background-size: cover;
}
/* biography start ends */

/* work part start  */
.my-work{
    background-image: url(image/latest-work-bg.png);
    background-size: cover;
}
.work{
    text-align: center;
    font-size: 20px;
    height: 400px;
}
.first-img{
    display: inline;
    position: relative;
    padding-right: 10px;
}
.sec-img{
    display: inline;
    position: relative;
    padding-right: 10px;
}
.third-img{
    display: inline;
    position: relative;
    
}
.work h3{
    padding-bottom: 40px;
}
.work img{
    width: 30%;
}

/* work part ends  */

/* last part  */
.last{
    padding-top: 0;
    text-align: center;
    height: 500px;
}
.last h2{
    font-size: 30px;
    line-height: 100px;
}
.last h4{
    
    line-height: 1px;
}
#para1{
    font-size: 12px;
    line-height: 10px;
}
#para2{
    margin-left: 330px;
    text-align: center;
    width: 40%;
    padding-bottom: 100px;
}
.last a{
    color: white;
    
    text-decoration: none;
    background-color: #f75b84;
    border-radius: 7px;
    padding: 65px 120px;
}
footer{
    font-size: 14px;
    text-align: center;
    padding-bottom: 40px;
}
.last-part{
    background-image: url(image/footer-bg.png);
    background-size: cover;
}
/* last part ends */
